.pontos{
    font-size: 40px;
    margin: 10px;
}

.share{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 20px;
    gap: 25px;
    margin-right: 20px;
    width: 98.5%;

    #btn-facebook{
        position: relative;
        top: 5px;
    }

    #btn-twitter{
        position: relative;
        top: 2px;
    }
}